.outer-delete-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.inner-delete-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}


.delete-spot_container {
	display: flex;
	align-items: stretch;
	padding: 5px;
	width: 80%;
	margin: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.delete-spot-options {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	align-content: center;
}

#delete-spot_confirm {
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.delete-spot-button {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}
