.outer-signup_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	padding: 15px 10px;
	width: 90%;

}

.inner-signup_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px;
	margin: 5px;
	width: 100%;
	align-items: center;
	align-content: stretch;
}
}

form {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	height: fit-content;
	flex-direction: column;
	width: 50%;
}

.signup_container {
	display: flex;
	flex-direction: column;
	/* margin: 10px;
	padding: 15px; */
	width: 100%;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	align-content: center;
}

.signup_container>label {
	margin: 2px;
	padding: 8px;
	width: 50%;
}

label>input {

	/* margin-right: 2px; */
	padding: 2px;
	margin-inline: 15px;

}

.signup_username {}

.signup_email {}

.signup_firstName {}

.signup_lastName {}

.signup_confirmedPassword {}

.signup_password {}

.signup-submit-button {
	padding: 10px 15px;
	margin: 20px px 25px;
	font-size: medium;
}
