.spot-item {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
}

.spot-item-div {
	width: 90%;
	border: 1px solid black;
}
