/* general */
.review-post_section-one {
	padding: 2px;
}

.key-review {
	display: flex;
	margin: 0 auto;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
}

.user-rating {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/* .user-rating:first-child {
	font-size: 20px;
	padding: 0px 10px;
} */

.user-rating_stars {
	padding-left: 5px;
}

div#review-commentary {
	margin: 10px;
}

/* buttons */
#review-button-loaded {
	display: flex;
	color: white;
	padding: 5px;
	margin: 15px;
	box-shadow: 7px 3px 4px 3px #869dc9;
	background-color: #1c30e7d0;
	border: 2px solid #eeeef4;
}

#review-button-loaded:hover {
	background-color: #ff0000;
	box-shadow: 7px 3px 4px 3px #f28585d2;
	cursor: pointer;
}

#review-button-loaded:active {
	background-color: #FFC0CC;
	box-shadow: 7px 5px 8px 4px #f29585d2;
	color: black;
}

#review-button-loaded>li {
	width: max-content;
	padding: 2px;
}
