/* _________________________________________________________________________________ */
/* general */
h1 {
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
}

.current-spots-outside-container {
	display: flex;
}

.current-spots-inside-container {
	display: flex;

}

.current-spots-section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}



.current-spots-top {
	display: flex;
	flex-direction: column;
	margin: 10px 5px;
	padding: 5px;
}


img:hover {
	cursor: pointer;
}

/* _________________________________________________________________________________ */
/* current-spot list & item */
.current-spot_list {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.current-spot_item {
	width: 330px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	height: fit-content;
	padding: 5px;
}



.current-spot-name-rate {
	text-align: center;
}
