.create-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin-inline: 10rem;
}

.create-form-locale {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.create-form-header-text {
	display: flex;
	flex-direction: column;
}

.form-country {}

.form-address {}

.form-city-state {
	display: flex;
	flex-direction: column;
}

#city {}

#state {}

.form-description {

	display: flex;
	flex-direction: column;
}

.form-title {}

.form-price {}

.spot-pics {
	display: flex;
		flex-direction: column;
}

.spot-pics > input {
	margin: 10px;
}
.spot-create-form-btn{
	border: 1px solid black;
	padding: 5px;
	margin: 10px;
}
