.spot-page-images-container {
	display: flex;
	flex-wrap: wrap;
}

img.the-spot-images > :first-child {
	width: 450px;
	height: 450px;
}

img.the-spot-images {
	width: 200px;
	height: 200px;
}

.images-container_two{

	width: max-content;
	height: fit-content;
	display: flex;
}
