#spots-section {
	top: 0;
	position: absolute;
	padding: 10px;
	margin: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: stretch;
	align-items: stretch;
}

.spots-list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 1rem;
}

.spot-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	width: 85%;
}
