#spots-section {
	top: 0;
	position: absolute;
}

.spots-list {
	display: grid;
	grid-template-columns:
		repeat(4, 12rem);
	grid-template-rows: repeat(4, 200px);
	gap: 5%;
	align-content: space-between;
	justify-content: space-around;
}
