/* TODO: Add sitewide styles */

/* body and root */
body {
	margin: 0 auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
}

#root {
	margin: 0 auto;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/* gen-app/outlet */

.outlet-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 10rem;
	width: 100%;
	height: 100%;
}

/* title elements */
h1 {
	font-size: 28px;
}

/* .h2_welcome {
	align-self: center;
} */

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

li {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: baseline;
	height: min-content;
	width: min-content;
}
