/* ____________________________________________________________________________ */
/* body and root */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/star-wars');

/* for theme toggle see ThemeState */

body {
	margin: 0 auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	align-items: center;
	font-family: 'Space Grotesk', sans-serif;
	/* background-color: #FFFFFF; */
}

#root {
	margin: 0 auto;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/* ____________________________________________________________________________ */
/* gen-app/outlet */

.outlet-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 10rem;
	width: 100%;
	height: 100%;
}

/* ____________________________________________________________________________ */
/* title elements */
h1 {
	font-size: 28px;
}

/* .h2_welcome {
	align-self: center;
} */

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

/* ____________________________________________________________________________ */
/* list elements */
li {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: baseline;
	height: min-content;
	width: min-content;
}

/* ____________________________________________________________________________ */
/* errors */
.p-error {
	color: red;
	font-size: 12px;
	width: max-content;
	margin: 0 auto;
}

/* ____________________________________________________________________________ */
/* buttons */
button {
	color: white;
	font-family: 'Space Grotesk', sans-serif;
	padding: 5px;
	margin: 15px;
	box-shadow: 7px 3px 4px 3px #84acf8;
	box-shadow: 0 0 10px #84acf8;
	background-color: #062ad6d4;
	padding: 8px 18px;
	font-size: 16px;
	border-radius: 10px;
	/* border-radius: 1%; */
	border: 4px solid #2356db;
}

/* .onHover:hover {
	visibility: visible;
}
*/
.noVisibility {
	visibility: hidden;
}



button:hover {
	background-color: #fcc000e3;
	transform: translate(-1px, -2px);
	border-color: #ffb621;
	box-shadow: 0 0 10px #e21a11;
	outline: none;
	cursor: pointer;
}

button:active {
	background-color: #FFC0CC;
	box-shadow: 7px 5px 8px 4px #f29585d2;
	color: black;
	/* padding: 15px;
	font-size: 20px;
	border-radius: 10%; */
}

*:disabled {
	background-color: dimgrey;
	color: linen;
	opacity: 1;
	box-shadow: none;
	border: 4px solid darkgray;
	padding: 8px 18px;
	font-size: 16px;
}

*:disabled:hover {
	background-color: dimgray;

	box-shadow: none;
}

*:disabled:active {
	background-color: none;
	box-shadow: none;
	color: linen;
}

.caption {
	position: absolute;
	border: 1px solid dimgray;
	background-color: white;
	padding: 2px 8px;
	top: 1.5rem;
	font-family: 'Space Grotesk', sans-serif;
	font-size: small;
	font-style: italic;
	width: min-content;
	text-align: center;
}

/* ____________________________________________________________________________ */
/* other elements */

.clone-logo {
	font-family: 'Star Wars', 'Space Grotesk', sans-serif;
}

.hoverClassName {
	font-family: 'Star Wars', 'Space Grotesk', sans-serif;
}

video {

	object-fit: cover;
	margin-top: 15px;
	border-radius: 15%;
	overflow: hidden;
}


div.spot-item-div {
	width: 30%;
	padding: 5px;
	margin: 10px 0px 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: flex-start;

}
