/* ____________________________________________________________________________ */
/* general and main display  */
.nav_bar {
	width: 100%;
	height: 2em;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 17px 40px;
	display: flex;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	border-block-start: solid 1px #dddddd;
	border-block-end: solid 1px #dddddd;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.nav_name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -0.5rem;
}

/* ____________________________________________________________________________ */
/* logo */
.airbnb {
	margin: 0;
	color: red;
}

#alive-ahora {
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
	background-image: linear-gradient(-225deg,
			#231557 0%,
			#10357a 29%,
			#ff1361 67%,
			#fff800 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

/* ____________________________________________________________________________ */
/* search bar */
.nav_search {
	position: absolute;
	left: 32rem;
}

.nav_options {

	display: flex;
	width: 4.5rem;
	max-width: min-content;
	max-height: 3.5rem;
	height: 2rem;
	margin: 10px;
	align-items: center;
	border: 1px solid #dddddd;
	border-radius: 8rem;
	box-shadow: 0px 2px 3.5px 1px rgba(0, 0, 0, 0.2);
	position: absolute;
	right: 8rem;
	top: 0rem;
	padding: 5px;

}

/* ____________________________________________________________________________ */
/* right-side navbar */

.content_nav_options {
	/* border: 1px solid orange; */
	display: flex;
	align-items: baseline;
	margin-inline-start: 0.5rem;
	max-height: fit-content;
	max-width: min-content;
	height: 3.5rem;
	bottom: 0.5rem;
	left: 0.5rem;
}


.fa-solid {

	margin: 3px;
}

.house-icon {
	color: black;
	font-size: 16px;
}

.house-icon:hover {

	color: red;
	border-style: none;


}

.hr-profile {
	width: 100%;
	height: 0;
	margin: 0;
}

.profile-dropdown > div {
	display: flex;

}
.button-profile-dropdown {

	font-size: 15px;
	border-style: none;
	background-color: transparent;
	max-width: max-content;
	padding: 0px;
	box-shadow: none;
	margin: 17px;
	color: black;


}

.button-profile-dropdown:hover {

	color: red;
	border-style: none;
	background-color: transparent;
	max-width: max-content;
	box-shadow: none;


}

/*
.no-session_login {}

.no-session_signup {} */

button {
	padding: 2px;
	margin: 15px;
	border-style: none;
	background-color: transparent;

}

button:hover {
	background-color: #acabab;
}

.nav_create-spot {
	position: absolute;
	z-index: 1;
	right: 15rem;
	top: 1.5rem;
	text-decoration: none;
	color: darkblue;
}

.nav_create-spot:hover {
	color: red;
}

.nav_create-spot:active {
	font-weight: bold;
}


.profile-dropdown {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 10px 0px 0px 5px;
	margin: 2px;
	font-family: serif;
	width: 10rem;
	position: absolute;
	border-right: 10px solid pink;
	z-index: 2;
	box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
	top: 2.8rem;
	right: 1rem;
	background-color: #FFFFFF;

}

.profile-dropdown>li {
	padding-block-start: 4px;
	padding-block-end: 8px;
	margin-block-end: 5px;
	font-family: serif;
	max-width: 100%;
	width: 100%;
	font-size: medium;
	border-collapse: collapse;
	color: darkblue;


}


.profile-dropdown>li:hover {
	background-color: #f5f2f2ae;
	cursor: pointer;

}

.profile-dropdownhidden {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 45px;
	list-style-type: none;
	overflow: hidden;
	visibility: collapse;

}

.profile_dropdown_username {
	font-size: medium;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

.profile_dropdown_name {
	font-size: medium;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}


.profile_dropdown_email {
	font-size: medium;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

li.profile_dropdown_manage {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
}

li.profile_dropdown_logout {

	display: flex;
	align-content: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
}

.user_session_profile {
	display: flex;
	flex-direction: column;
}

.user_manage_button {
	font-family: serif;
	font-size: medium;
}

.user_logout_button {
	font-family: serif;
	font-size: medium;

}
