.nav_bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
	list-style-type: none;
	border-block-start: solid 1px black;
	border-block-end: solid 1px black;
}

.button-profile-dropdown {

	font-size: 15px;
	border-style: none;
	background-color: transparent
}

.button-profile-dropdown :hover {

	font-size: 15px;
	color: red;
	border-style: none;
	background-color: transparent
}

.profile-dropdown {
	display: flex;
	flex: 0 0 fit-content;
	flex-direction: column;
	list-style-type: none;
	padding: 2px;
	margin: 2px;
	box-shadow: -2px 0px 8px -1px rgba(0, 0, 0, 0.45);
	font-family: serif;

}

.profile-dropdownhidden {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 45px;
	list-style-type: none;
	overflow: hidden;
	visibility: collapse;

}

.profile_dropdown_username {}

.profile_dropdown_name {}


.profile_dropdown_email {}

.profile_dropdown_logout {
	/* display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-inline-start: -15px; */
	max-height: fit-content;
}

.user_session_profile {
	display: flex;
	flex-direction: column;
}

.user_logout_button {
	border-style: none;
	background-color: transparent;
	font-family: serif;
	font-size: medium;


}
